<nav class="navbar">
  <ul>
    <li class="navbar__item"><a href="{{ '/posts.html' | relative_url }}">全部</a></li>
    <li class="navbar__item"><a href="{{ '/java/posts.html' | relative_url }}">java</a></li>
    <li class="navbar__item"><a href="{{ '/js/posts.html' | relative_url }}">javascript</a></li>
    <li class="navbar__item"><a href="{{ '/html_css/posts.html' | relative_url }}">html/css</a></li>
    <li class="navbar__item"><a href="{{ '/other/posts.html' | relative_url }}">其他</a></li>
  </ul>
</nav>
